.wrapper
{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 7rem;
}

.container {
    width: 83.5%;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    top: 3rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
}