* {
  font-family: "Montserrat-Light", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.App {
  overflow: hidden;
}

body {
  overflow: auto;
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer
}

*:focus {
  outline: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 2.125rem;
  font-family: 'Montserrat-Black', Arial, sans-serif;
  font-weight: 800;
}

h3 {
  font-size: 1.9rem;
  font-family: 'Montserrat-Black', Arial, sans-serif;
  font-weight: 800;
}

h4 {
  font-size: 1.3rem;
  font-family: 'Montserrat-Bold', Arial, sans-serif;
  font-weight: 800;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-family: 'Montserrat-Bold', Arial, sans-serif;
}

b, strong {
  font-family: "Montserrat-Black", Arial, sans-serif;
}

a, a:visited {
  color: unset !important;
  text-decoration: none;
}

div p {
  margin-bottom: 0;
}

// SECTIONS STYLES
.section {
  padding: 80px 140px;

  @media (max-width: 1200px){
    padding: 40px 70px;
  }
  @media (max-width: 1024px){
    padding: 30px 30px;
  }
  @media (max-width: 640px){
    padding: 15px 15px;
  }

  &.colorLight {
    background-color: #fff;
  }
  &.colorMedium {
    background-color: #f8f8f8;
  }
  &.colorDark {
    background-color: #f2f2f2;
  }
  &.colorBlack {
    background-color: #202020;

    .title {
      color: #fff;
    }
    .subtitle {
      color: #fff;
    }
  }

  &.bottomPadding {
    padding: 0 0 80px;

    @media (max-width: 1200px){
      padding: 0 0 40px;
    }
    @media (max-width: 1024px){
      padding: 0 0 30px;
    }
    @media (max-width: 640px){
      padding: 0 0 15px;
    }
  }

  .title {
    font-family: "Montserrat-Black", Arial, sans-serif;
    margin-bottom: 40px;
  }
  .subtitle {
    margin-top: -20px;
    margin-bottom: 40px;
  }
}
// END SECTIONS STYLES

// INPUT STYLES
input.input, textarea, select {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 20px 40px;
  font-size: 16px;
  transition: all 200ms;
  border: 0.5px solid #0000007d;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;

  &.error {
    background: #fde8da;
    border: 1px solid rgb(247, 101, 65);
  }

  &.success{
    background: #f8fff7;
    border: 1px solid rgba(0, 217, 0, 0.55);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10000;
    width: 30px;
    height: 30px;
    background: #000;
    top:0;
    right: 0;
  }

  &::placeholder {
    font-size: 15px;
    color: #a7a7a7;
  }

  @media screen and (max-width: 490px) {
    padding: 24px 40px !important;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    &.error {
      padding: 19px 40px 29px !important;

    }
  }

  & + .error {
    box-sizing: border-box;
    font-size: 12px;
    background: rgb(254, 218, 206);
    padding: 2px 20px;
    position: absolute;
    bottom: 0;
    width: 100% !important;
    text-align: center;
    color: #000;
    border-radius: 0 0 5px 5px;
    margin-bottom: 0 !important;
  }

  textarea.input {
    min-height: 7em !important;
  }
}
// END INPUT STYLES

// RODAL RESTYLE
.rodal {
  z-index: 10000;
}
.rodal-popup {
  .rodal-dialog {
    box-sizing: border-box;
    padding: 3.3em 4.75em 3.15em !important;
    max-width: 430px !important;
    width: 100% !important;
    height: fit-content !important;
    background: #fff;
    box-shadow: none;
    @media (max-width: 480px) {
      max-width: calc(100% - 20px) !important;
      padding: 2.6em 10% 1.75em !important;
    }
  }

  .rodal-close {
    top: 22px;
    right: 22px;
    width: 20px;
    height: 20px;
  }

  p {
    margin: 0 auto !important;
    margin-bottom: 15px !important;
    text-align: center !important;
  }

  form {
    input, textarea {
      margin-bottom: 14px;
      width: 100% !important;
      @media (max-width: 768px) {
        padding: 19px 40px !important;
      }

      &.error + div, &.success + div {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        width: 98% !important;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    button {
      display: block;
      width: 100%;
      font-size: 1rem;
      font-weight: 700;
      background: #d7992e !important;
      padding: 0.8rem 1.4rem !important;
      color: #fff;
      margin: 0 auto;

      &:hover {
        background: #d6a34ad3 !important;
      }

    }
  }
}

.x-tl-booking-widget-7134-container.x-tl-booking-widget-7134-container--pulled-right {
  display: none !important;
}

/* Cooperation */

.coop-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrap-1 {
  width: 70%;
  height: 20rem;
  background-image: linear-gradient(90deg, #000000 -2.9%, rgba(0, 0, 0, 0) 79.89%), url('/images/cooperation/coop-6.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  position: relative;

   @media (max-width: 1024px) {
     width: 100%;
   }
}

.wrap-2 {
  width: 28%;
  height: 20rem;
  background-image: linear-gradient(90deg, #000000 -2.9%, rgba(0, 0, 0, 0) 79.89%), url('/images/cooperation/coop-7.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  position: relative;
  @media (max-width: 1024px) {
     width: 100%;
   }
}

.wrap-3 {
  width:48%;
  height: 20rem;
  background-image: linear-gradient(90deg, #000000 -2.9%, rgba(0, 0, 0, 0) 79.89%), url('/images/cooperation/coop-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  position: relative;
  @media (max-width: 1024px) {
     width: 100%;
   }
}

.wrap-4 {
  width:48%;
  height: 20rem;
  background-image: linear-gradient(90deg, #000000 -2.9%, rgba(0, 0, 0, 0) 79.89%), url('/images/cooperation/coop-5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  position: relative;
  @media (max-width: 1024px) {
     width: 100%;
   }
}

.wrap-5 {
  width:30%;
  height: 20rem;
  background-image: linear-gradient(90deg, #000000 -2.9%, rgba(0, 0, 0, 0) 79.89%), url('/images/cooperation/coop-4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  position: relative;
  @media (max-width: 1024px) {
     width: 100%;
   }
}
.wrap-6 {
  width:30%;
  height: 20rem;
  background-image: linear-gradient(90deg, #000000 -2.9%, rgba(0, 0, 0, 0) 79.89%), url('/images/cooperation/coop-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  position: relative;
  @media (max-width: 1024px) {
     width: 100%;
   }
}

.wrap-7 {
  width:30%;
  height: 20rem;
  background-image: linear-gradient(90deg, #000000 -2.9%, rgba(0, 0, 0, 0) 79.89%), url('/images/cooperation/coop-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  position: relative;
  @media (max-width: 1024px) {
     width: 100%;
   }
}

/* Tabs */

.react-tabs__tab-list {
    border-bottom: none !important;

    @media (max-width: 650px) {
      display: flex !important;
   }
}
.react-tabs__tab {
   font-family: 'Montserrat-Bold', Arial, sans-serif !important;
   font-style: normal;
   font-weight: bold !important;
   font-size: 16px !important;
   line-height: 100%;
   text-align: center;
   padding-top: 1.5rem !important;;
   padding-bottom: 1.5rem !important;;
   padding-left: 2rem !important;;
   padding-right: 2rem !important;
   background: #EBEBEB !important;
   color: #656565 !important;
   margin-right: 1.5rem !important;
   border-radius: 0 !important;
   @media (max-width: 650px) {
     padding-top: 0.5rem !important;
     padding-bottom: 0.5rem !important;
     padding-left: 1rem !important;
     padding-right: 1rem !important;
     margin-right: 0.5rem !important;
   }
}

.react-tabs__tab--selected {
    color: #FFFFFF !important;
    background: #656565 !important;
}
// END RODAL RESTYLE